@model IEnumerable<SolveOrDrinkIt.Models.ScoreViewModel>

@{
    ViewBag.Title = "Score";
}

<h2>Score</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gameName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datetime)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gameName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datetime)
        </td>
    </tr>
}

</table>
