@model SolveOrDrinkIt.Models.Deck

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Deck</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        @foreach (var task in Model.Tasks)
        {
            <dd>
                @Html.DisplayFor(modelTask => task.text)
                <hr />
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
